{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <title>S.G.P</title>

    <!-- BOOTSTRAP-->
        <!-- USANDO VUE JS-->

<script src="{% static 'pyzza/customizerjs.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="{% static 'pyzza/funcoesVUE.js' %}"></script>

<!-- BOOTSTRAP JQUERY -->
 <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/js/bootstrap.min.js' %}">
 <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/js/bootstrap.js' %}">
 <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/js/bootstrap.bundle.js' %}">
 <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/js/bootstrap.bundle.min.js' %}">
 <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/js/bootstrap.bundle.min.js.map' %}">
 <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/js/bootstrap.js.map' %}">

<!-- CDN JQUERY E JAVASCRIPT BOOTSTRAP -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/css/bootstrap.css' %}">
    <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/css/bootstrap.min.css' %}">
     <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/css/bootstrap.min.css.map' %}">
     <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/css/bootstrap.css.map' %}">
     <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/css/bootstrap-grid.css' %}">
     <link rel="stylesheet"  type="text/css" href="{% static 'pyzza/bootstrap-4.3.1/css/bootstrap-grid.min.css' %}">

    <!--CSS STYLE CUSTOM -->
    <link rel="stylesheet" type="text/css" href="{% static 'pyzza/style.css' %}">
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>
<body>

<nav id="menu-principal" class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
    <div class="menu-header">
    <a class="navbar-brand" href="#"><img src="{% static 'pyzza/image/logo_top_do_projeto.png' %}"> </a>
    <a class="navbar-brand" href="#"> Home</a>
    <a class="navbar-brand" href="#">Contato</a>
    <a class="navbar-brand" href="#">Cardápio</a>
    </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

     <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fab fa-facebook-f"></i> Facebook
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-instagram"></i> Instagram</a>
      </li>
    <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Profile </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="#">My account</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li>
         -->
    </ul>
  </div>

</nav>


<div id="app" class="container-fluid">
    {% block content %}

    {% endblock %}

</div>

  <!-- Footer -->
  <footer id="footer-custom" class="py-5 bg-dark" style="position: relative">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Jefferson - Fabricio e Fernando Satoro / Projeto Integrador II - TADS 2017</p>
    </div><!-- /.container -->
  </footer>

</body>
</html>
