{% extends 'pyzza/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cardapio</title>

</head>
<body>
{% block content %}

    <div class="pedidos">
        <h1>CARDÁPIO!</h1>
     </div>
  <div class="container">
    <div class="row">
             <div id="colunas-cardapio" class="card-body" style="width: 18rem;" v-for="pizza in sabores_pizza" align="center">
                <img class="card-img-top" v-bind:src="[[pizza.imagem]]" alt="Card image cap"
                     style="width: 130px; height: 130px;">
                <div class="card-body">
                    <p class="card-text">[[pizza.nome]]</p>
                    <p class="card-text">[[pizza.descricao]]</p>

                </div>
            </div>
        </div>

   </div>
{% endblock %}
</body>
</html>