{% extends 'pyzza/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Efetuar Pedidos</title>

</head>

<body>
{% block content %}
<div class="row">
  <div class="col-8">
         <div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="pedidos"><h2>PEDIDOS</h2></div>
      <ul class="list-group" v-for="pizza in pizzas">
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" v-on:click="adicionar_pizza(pizza)">
          <div class="flex-column" >
            <p><large>[[pizza.nome]]</large></p>
              <span v-bind:class="pizza.tipo_pizza.nome" >[[pizza.tipo_pizza.nome]]</span>
                <p><large>[[pizza.descricao]]</large></p>
                <p><large>R$ [[pizza.valor_adicional]]</large></p>
          </div>

          <div class="image-parent">
              <img src="" id="imagem_pizzas" class="img-fluid" alt="pizzas">
          </div>

        </a>

      </ul>
    </div>
  </div>
</div>
  </div>

    <!-- CARRINHO DE COMPRAS-->
        <div id="app" class="col-4 col-sm-4 col-lg-4">
            <div class="container">
                     {% csrf_token %}
                <div class="carrinho"><h2>CARRINHO</h2></div>
                <div>
          <ul class="list-group" v-for="pizza in pizzas_selecionadas">
          <li class="list-group-item d-flex justify-content-between align-items-center">
           [[pizza.nome]]
              <p>[[pizza.valor_adicional]]</p>
          </li>
        </ul>
                </div>
    </div>
<!-- FIM DO CARRINHO DE COMPRAS -->
</div>
</div>

{% endblock %}
</body>
</html>