{% extends 'pyzza/base.html' %}
{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Efetuar Pedidos</title>
</head>
<body>
{% block content %}
    {#    <img src="" alt="" width="30px" height="">#}
    <div id="app" class="content">
        <div class="row">
            {#COLUNA FAZER PEDIDOS#}
            <div class="col-6" id="monte-seu-pedido"><!--col-12-->
                <div class="pedidos"><h1>FAÇA SEU PEDIDO!</h1></div>
                <div class="table-responsive">
                    <a data-toggle="modal" href="#exampleModal">
                        <img class="banner-pedir-pizza"
                             src="{% static 'pyzza/image/bebida_pedidos.png' %}" alt="banner pedido bebidas">
                    </a>
                </div>
                <div class="table-responsive">
                    <a data-toggle="modal" href="#myModalBebidas">
                        <img class="banner-pedir-bebidas"
                             src="{% static 'pyzza/image/pizza_pedido.png' %}" alt="banner pedido bebidas">
                    </a>
                </div>
            </div>

            <!--dados do pedido-->
            <div class="col-6">
                <div class="container">
                    <!-- Editable table -->
                    <div class="card">
                        {% csrf_token %}
                        <h1 class="card-header text-center font-weight-bold text-uppercase py-4"
                            style="font-family: 'Cabin Sketch'">Carrinho de Compras</h1>
                        <div class="card-body">
                            <div id="table" class="table-editable table-responsive">
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <h3 style="font-weight: 900; font-family: 'Cabin Sketch';">Pizza(s)</h3>
                                    <thead>
                                    <tr>
                                        <th class="text-center titulo-tabela">Qtd</th>
                                        <th class="text-center titulo-tabela">Sabor(es)</th>
                                        <th class="text-center titulo-tabela">Tamanho</th>
                                        <th class="text-center titulo-tabela">Borda</th>
                                        <th class="text-center titulo-tabela">Preço</th>
                                        <th class="text-center titulo-tabela">Remover</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(item,i) in pedido.itens_pizza">
                                        <td>
                                            <input name="ip_qtd" type="number" min="1" v-model="item.quantidade"/>
{#                                            <span class="minus">-</span>#}
{#                                            <input name="ip_qtd" type="text" v-model="item.quantidade"/>#}
{#                                            <span class="plus">+</span>#}
                                        </td>
                                        <td class="pt-3-half"><p v-for="sabor in item.sabores">[[ sabor.nome ]] </p>
                                        </td>
                                        <td class="pt-3-half">[[ item.tamanho_pizza.nome ]]</td>
                                        <td class="pt-3-half"> [[ item.sabor_borda.nome ]]</td>
                                        <td class="pt-3-half"> [[ preco_formatado(item.preco()) ]]</td>
                                        <td>
                                              <span class="table-remove">
                                                  <button type="button" class="btn btn-danger"
                                                          v-on:click="remove_item_pizza(i)">
                                                  <i class="far fa-trash-alt"></i>
                                                  </button>
                                              </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="table" class="table-editable table-responsive">
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <h4 style="font-weight: 900; font-family: 'Cabin Sketch';">
                                        Bebida(s)</h4>
                                    <thead>
                                    <tr>
                                        <th class="text-center titulo-tabela">Qtd</th>
                                        <th class="text-center titulo-tabela">Bebida</th>
                                        <th class="text-center titulo-tabela">Tamanho</th>
                                        <th class="text-center titulo-tabela">Preço</th>
                                        <th class="text-center titulo-tabela">Remover</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(item,i) in pedido.itens_bebida">
                                        <td id="number">
{#                                            <span class="minus">-</span>#}
                                            <input name="ib_qtd" type="number" min="1" v-model="item.quantidade"/>
{#                                            <span class="plus">+</span>#}
                                        </td>
                                        <td class="pt-3-half">[[ item.nome ]]</td>
                                        <td class="pt-3-half">[[ item.tamanho]]</td>
                                        <td class="pt-3-half">[[ preco_formatado(item.preco()) ]]</td>
                                        <td>
                                            <span class="table-remove">
                                                <button type="button" class="btn btn-danger"
                                                v-on:click="remove_item_bebida(i)">
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <h4 style="font-family: 'Cabin Sketch';font-weight: bold" align="right">Total: [[ preco_formatado(pedido.total()) ]] </h4>
                                <br>
                                <h4 style="font-family: 'Cabin Sketch';font-weight: bold;float: left;">FORMA DE PAGAMENTO</h4>
{#                                <select id="selectBebida" class="custom-select" v-model="bebida_selecionada">#}
{#                                <option v-for="bitem in bebidas" v-bind:value="bitem">[[bitem.nome]]</option>#}

                                <select class="form-control-sm" id="f-pagamento" v-model="pedido.forma_de_pagamento" style="float: right;">
                                    <option v-for="forma in formas_pagamento" v-bind:value="forma">[[forma.nome]]</option>
                                </select>
                                <br>
                                <div v-if="pedido.forma_de_pagamento">
                                    <div v-if="pedido.forma_de_pagamento.id === 1">
                                        <br>
                                        <h4 style="font-family: 'Cabin Sketch';font-weight: bold;float: left;">TROCO PARA</h4>
                                        <div style="float: right;">
                                            <span style="font-family: 'Cabin Sketch'; font-size: 18px;">R$</span>
                                            <input type="number" name="troco_para" id="troco_para"
                                                v-model="pedido.troco_para" style="width: 100px">
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="form-group" style="margin-top: 1em;">
                                    <h4 style="font-family: 'Cabin Sketch'; font-weight: bold;" for="exampleFormControlTextarea1">Observações</h4>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="pedido.observacao"></textarea>
                                </div>
                                <div>
{#                                    ENVIAR PEDIDO ORIGINAL@@#}
{#                                    <button type="button" class="btn-warning" style="float: right; border-radius: 12px; padding: 8px;" data-toggle="modal"#}
{#                                            data-target="#modalLogin">ENVIAR PEDIDO#}
{#                                    </button>#}

{#                                    <button type="button" class="btn-warning" style="float: right; border-radius: 12px;#}
{#                                        padding: 8px;" v-on:click="enviar_pedido()">#}
{#                                        @@ENVIAR PEDIDO#}
{#                                    </button>#}

{#                                    <button v-if="is_logado" type="button" class="btn-warning" style="float: right; border-radius: 12px;#}
                                    <h5 style="font-family: 'Cabin Sketch'; font-weight: bold; color:red;float: left;" v-if="pedido_qt_erros > 0">[[ pedido_erro_msg ]] </h5>
                                    <button type="button" class="btn-warning" style="float: right; border-radius: 12px; padding: 8px;"
                                            v-on:click="enviar_pedido()" v-if="!pedido_enviado">
{#                                            v-on:click="enviar_pedido()" :disabled="pedido_qt_erros > 0">#}
                                        ENVIAR PEDIDO
                                    </button>
                                    <button type="button" class="btn-success" style="float: right; border-radius: 12px; padding: 8px;"
                                            v-on:click="novo_pedido()" v-if="pedido_enviado">
{#                                            v-on:click="enviar_pedido()" :disabled="pedido_qt_erros > 0">#}
                                        NOVO PEDIDO
                                    </button>

{#                                    <button v-else type="button" class="btn-warning" style="float: right; border-radius: 12px; padding: 8px;" data-toggle="modal"#}
{#                                            data-target="#modalLogin">ENVIAR PEDIDO#}
{#                                    </button>#}

                                    <br><br>
                                    <div id="mensagem" class="alert alert-success alert-dismissible fade show" role="alert" v-if="mensagem">
                                        [[ mensagem ]]
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {# div table #}
                        </div>
                        {# div card body #}
                    </div>
                    {# div card #}
                </div>
                {# div container #}
            </div>
            {# "col-6" #}
            <!--MODAL PARA LOGIN $$-->
{#            <div v-if="!is_logado">#}
                <div style="margin-top: 2em;" class="modal" id="modalLogin" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="container h-100">
                                    <div class="d-flex justify-content-center h-100">
                                        <div class="user_card">
                                            <div class="d-flex justify-content-center">
                                                <div style="margin-bottom:-4em;">
                                                    <img src="{% static 'pyzza/image/logo_top_do_projeto_novo.png' %}"
                                                         alt="Logo">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center form_container">
                                                <form>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-user"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" name="" class="form-control input_user" v-model="login_data.username"
                                                               placeholder="Nome de usuário">
                                                    </div>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                        </div>
                                                        <input type="password" name="" class="form-control input_pass" v-model="login_data.password"
                                                               placeholder="Senha">
                                                    </div>
                                                    {#                                                <div class="form-group">#}
                                                    {#                                                    <div class="custom-control custom-checkbox">#}
                                                    {#                                                        <input type="checkbox" class="custom-control-input"#}
                                                    {#                                                               id="customControlInline">#}
                                                    {#                                                        <label class="custom-control-label" for="customControlInline">Remember me</label>#}
                                                    {#                                                    </div>#}
                                                    {#                                                </div>#}
                                                </form>
                                            </div>
                                            <div v-if="modal_login_mensagem">
                                                <p>[[ modal_login_mensagem ]]</p>
                                            </div>
                                            <div class="d-flex justify-content-center mt-3 login_container">
                                                <button type="button" name="button" class="btn login_btn" @click="efetuar_login()">Login</button>
                                            </div>
                                            <div class="mt-4">
                                                <div class="d-flex justify-content-center links">
                                                    Ainda não tem cadastro? <a href="#" class="ml-2" data-toggle="modal"
                                                                               data-target="#modalCadastro">Cadastre-se</a>
                                                </div>
{#                                                <div class="d-flex justify-content-center links">#}
{#                                                    <a href="#">esqueceu a senha?</a>#}
{#                                                </div>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{#            </div>#}

            <!-- FIM DA MODAL -->

            <!-- MODAL CADASTRE-SE -->
            <div class="modal" id="modalCadastro" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="card card-outline-secondary">
                                <div class="card-header" id="header-modal-cadastro">
                                    <h3 class="mb-0">Cadastro de usuário</h3>
                                </div>
                                <div class="card-body" style="background-color: rgba(255, 183, 33, 0.43);">
                                    <form autocomplete="off" class="form" role="form">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Nome</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" v-model="cliente_data.nome">
                                                <small v-if="cliente_data_errors.nome" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.nome ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Telefone</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" v-model="cliente_data.telefone">
                                                <small v-if="cliente_data_errors.telefone" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.telefone ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">E-mail</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="email" v-model="cliente_data.usuario.email">
                                                 <small v-if="cliente_data_errors.email" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.email ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" v-model="cliente_data.usuario.username">
                                                <small v-if="cliente_data_errors.username" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.username ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Senha</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="password" v-model="cliente_data.usuario.password">
                                                <small v-if="cliente_data_errors.password" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.password ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Confirme sua senha</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="password" v-model="cliente_data.usuario.confirm_password">
                                                <small v-if="cliente_data_errors.confirm_password" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.confirm_password ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">CEP</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" v-model="cliente_data.endereco.cep" maxlength="9" placeholder="Digite um cep para buscar endereço">
                                                <small v-if="cliente_data_errors.cep" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.cep ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Logradouro</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" v-model="cliente_data.endereco.logradouro">
                                                <small v-if="cliente_data_errors.logradouro" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.logradouro ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Numero</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" v-model="cliente_data.endereco.numero">
                                                <small v-if="cliente_data_errors.numero" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.numero ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Complemento</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" v-model="cliente_data.endereco.complemento">
                                                <small v-if="cliente_data_errors.complemento" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.complemento ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Bairro</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" v-model="cliente_data.endereco.bairro">
                                                <small v-if="cliente_data_errors.bairro" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.bairro ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Cidade</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" v-model="cliente_data.endereco.cidade">
                                                <small v-if="cliente_data_errors.cidade" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.cidade ]]
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Estado</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" v-model="cliente_data.endereco.uf">
                                                <small v-if="cliente_data_errors.uf" class="form-text" style="color: red;">
                                                    [[ cliente_data_errors.uf ]]
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label"></label>
                                            <div class="col-lg-9">
                                                <button style="float: right;" class="btn btn-success" type="button" @click="efetuar_cadastro_cliente()">Cadastrar</button>
                                                <button style="float: right;" class="btn btn-danger" type="reset" value="Save Changes">Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /form user info-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- FINAL DA MODAL CADASTRE-SE-->

        </div><!--end col-12-->
        {#        </div>#} {# div app??? #}

        <!-- INICIO DA IMPLEMENTAÇÃO DAS MODAIS -->
        {##}
        {#        <a data-toggle="modal" href="#myModalBebidas" class="btn btn-primary">Launch modal</a>#}
        {#        {% csrf_token %}#}
        {##}
        {#        <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#exampleModal">#}
        {#            Left Sidebar Modal#}
        {#        </button>#}
        <!--modal para escolha de bebidas-->
        <div class="modal left fade" id="myModalBebidas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            {% csrf_token %}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="nav flex-sm-column flex-row">
                            <label>ESCOLHA UMA BEBIDA</label>
                            <select id="selectBebida" class="custom-select" v-model="bebida_selecionada">
                                <option v-for="bitem in bebidas" v-bind:value="bitem">[[bitem.nome]]</option>
                            </select>
                            {#                            <label style="margin-top: 10px;" v-if="tamanho_selecionado.max_sabores > 0">ESCOLHA QUANTOS SABORES!</label>#}
                            {#                            <div id="selectSabores">#}
                            {#                                <div id="selectSabores">#}
                            {#                                    <button type="button" class="btn btn-outline-success"#}
                            {#                                            v-for="qtd in tamanho_selecionado.max_sabores" v-bind:key="qtd"#}
                            {#                                            v-bind:value="qtd" @click="seleciona_num_sabores(qtd)">#}
                            {#                                        [[ qtd ]]#}
                            {#                                    </button>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div v-if="num_sabores_selecionado > 0">#}
                            {#                                <div v-for="i,j in num_sabores_selecionado">#}
                            {#                                    <label class="escolha-um-sabor" v-if="num_sabores_selecionado === 1">ESCOLHA O SABOR DA PIZZA!</label>#}
                            {#                                    <label class="escolha-um-sabor" v-else>ESCOLHA O [[ i ]]º SABOR</label>#}
                            {#                                    <div class="dropdown-toggle-split">#}
                            {#                                        <select class="custom-select" v-model="sabores_selecionados[j]">#}
                            {#                                            <option v-for="pizza in sabores_pizza" v-bind:value="pizza">[[pizza.nome]]</option>#}
                            {#                                        </select>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div v-if="num_sabores_selecionado > 0">#}
                            {#                                <hr>#}
                            {#                                    <label class="escolha-um-sabor">ESCOLHA O SABOR DA BORDA!</label>#}
                            {#                                    <div class="dropdown-toggle-split">#}
                            {#                                        <select class="custom-select" v-model="borda_selecionada">#}
                            {#                                            <option v-for="borda in sabores_borda" v-bind:value="borda">[[borda.nome]]</option>#}
                            {#                                        </select>#}
                            {#                                    </div>#}
                            {#                            </div>#}
                            <div v-if="bebida_selecionada">
                                    <label class="escolha-um-sabor">ESCOLHA O TAMANHO DA BEBIDA</label>
                                    <div class="dropdown-toggle-split">
                                        <select class="custom-select" v-model="opcao_bebida_selecionada">
                                            <option v-for="opcao in bebida_selecionada.opcoes" v-bind:value="opcao">[[opcao.tamanho_bebida.nome]] - (Preço: R$ [[opcao.preco]])
                                            </option>
                                        </select>
                                    </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    v-on:click="adiciona_item_bebida()">INCLUIR NO PEDIDO
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--fim da modal para escolha de bebidas-->

        <div class="modal left fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="nav flex-sm-column flex-row">
                            <label style="font-family: 'Cabin Sketch'; font-size: 26px;">ESCOLHA O TAMANHO DA SUA
                                PIZZA!</label>
                            <select id="selectTamanho" class="custom-select" v-model="tamanho_selecionado">
                                <option v-for="tamanho in tamanhos" v-bind:value="tamanho">[[tamanho.nome]]  -  (A partir de R$ [[tamanho.preco]])</option>
                            </select>
                            <label style="margin-top: 10px; font-family: 'Cabin Sketch';  font-size: 18px;"
                                   v-if="tamanho_selecionado.max_sabores > 0">ESCOLHA QUANTOS SABORES!</label>
                            <div id="selectSabores">
                                <div id="selectSabores">
                                    <button type="button" class="btn btn-outline-dark"
                                            v-for="qtd in tamanho_selecionado.max_sabores" v-bind:key="qtd"
                                            v-bind:value="qtd" @click="seleciona_num_sabores(qtd)">
                                        [[ qtd ]]
                                    </button>
                                </div>
                            </div>
                            <div v-if="num_sabores_selecionado > 0">
                                <div v-for="i,j in num_sabores_selecionado">
                                    <label style="font-family: 'Cabin Sketch'; font-size: 18px;"
                                           class="escolha-um-sabor" v-if="num_sabores_selecionado === 1">ESCOLHA O SABOR
                                        DA PIZZA!</label>
                                    <label class="escolha-um-sabor" v-else>ESCOLHA O [[ i ]]º SABOR</label>
                                    <div class="dropdown-toggle-split">
                                        <select class="custom-select" v-model="sabores_selecionados[j]">
                                            <option v-for="sabor in sabores_pizza" v-bind:value="sabor">[[sabor.nome]] - (Adicional: R$ [[sabor.get_adicional_total]])
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div v-if="num_sabores_selecionado > 0">
                                <hr>
                                <label style="font-family: 'Cabin Sketch'; font-size: 26px;" class="escolha-um-sabor">ESCOLHA
                                    O SABOR DA BORDA!</label>
                                <div class="dropdown-toggle-split">
                                    <select class="custom-select" v-model="borda_selecionada">
                                        <option v-for="borda in sabores_borda" v-bind:value="borda">[[borda.nome]] - (Adicional: R$ [[borda.valor_adicional]])
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    @click="adiciona_item_pizza()">INCLUIR NO PEDIDO
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal4">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">ESCOLHA O SABOR DA BORDA</h4>
                    </div>
                    <div class="container">
                        <div class="modal-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                                   v-on:click="adicionar_borda(borda)">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Borda Siciliana</h5>
                                        <small>Bacon, Mussarela Ralada e Requeijão</small>
                                    </div>
                                    {#                    <p class="mb-1">2 litros</p>#}
                                    <small>R$ 8,00 </small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                                   v-on:click="adicionar_borda(borda)">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Borda de Mussarela</h5>
                                        <small>R$ 8,00</small>
                                    </div>
                                    <p class="mb-1">Muitaaaa mussarela ralada!!</p>

                                </a>
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                                   v-on:click="adicionar_borda(borda)">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Borda de nutela</h5>
                                        {#                      <small>Nutela, muita nutela!</small>#}
                                        <small>R$ 18,00 </small>
                                    </div>
                                    <p class="mb-1">Nutela, muita nutela!</p>
                                    {#                    <small>R$ 18,00 </small>#}
                                </a>
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                                   v-on:click="adicionar_borda(borda)">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Borda chocolate</h5>
                                        <small>R$ 6,00 </small>
                                    </div>
                                    <p class="mb-1">Chocolate com 80% de cacau, feito com leite das vacas do
                                        himalaia</p>
                                    {#                    <small>R$ 6,00 </small>#}
                                </a>
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                                   v-on:click="adicionar_borda(borda)">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Borda chocolate branco</h5>
                                        <small>R$ 10,00</small>
                                    </div>
                                    <p class="mb-1">Chocolate branco MILKA, feito com puro leite suiço seloko!</p>
                                    {#                    <small>R$ 10,00 </small>#}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a data-toggle="modal" href="#myModal4" class="btn-outline-warning">ANTERIOR</a>
                        <span href="#" id="btn-fecha" data-dismiss="modal" class="btn" @click="adiciona_item_pizza()">INCLUIR NO PEDIDO</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
</body>
</html>