{% extends "site_interno/layout/base_site.html" %}
{% load i18n admin_static %}
{#{% load l10n %}#}
{% load tz %}

{% block extrastyle %}


{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'web/styles/loader.css' %}" media="all">
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
<h1 align="center">Acompanhamento de Pedidos</h1>
    <h1> </h1>
    {% if lista %}
        <div class="container">
        <div class="row">
            <div class="span12">
            <tbody>
                <table class="table">
                     <tr>
                         <th class="text-center"><h3>NÚMERO</h3></th>
                         <th class="text-center"><h3>HORA</h3></th>
                         <th class="text-center"><h3>CLIENTE</h3></th>
                         <th class="text-center"><h3>TELEFONE</h3></th>
                         <th class="text-center"><h3>PREÇO</h3></th>
                          <th class="text-center"><h3>STATUS</h3></th>
                         <th class="text-center"><h3>ACÕES</h3></th>

            {% for pedido in lista|dictsort:"id" %}
            <tr>
                <td class="text-center">{{ pedido.id }}</td>
{#                {% localtime on %}#}
                {% timezone 'Brazil/East' %}
                <td class="text-center">{{ pedido.data.time }}</td>
{#                {% endlocaltime %}#}
                {% endtimezone %}
                <td class="text-center">{{ pedido.cliente.nome }}</td>
                <td class="text-center">{{ pedido.cliente.telefone}}</td>
                <td class="text-center">{{ pedido.get_total}}</td>
                <td class="text-center">{{ pedido.status_pedido }}</td>
                <td class="text-center">
                    {% if pedido.status_pedido.id == 1 %}
                        <button class="text-center btn-primary" href="#myModal{{ pedido.id }}" role="button" data-toggle="modal" style="padding-top: 4px;padding-bottom: 4px;padding-right: 12px;padding-left: 12px;border-radius: 5px;">PRODUZIR</button>
                      {% elif pedido.status_pedido.id == 2 %}
                        <button class="text-center btn-warning"  href="#myModalEntregar{{ pedido.id }}" role="button" data-toggle="modal" style="padding-top: 3px;padding-bottom: 3px;padding-right: 10px;padding-left: 10px;border-radius: 5px;">ENTREGAR</button>
                      {% elif pedido.status_pedido.id == 3 %}
                        <a href="/interno/set_status_pedido/{{ pedido.id }}/4" class="btn btn-success text-center" >CONCLUIR</a>

                    {% endif %}

                    <button class="btn btn-danger text-center" href="#myModalCanceladas{{ pedido.id }}" role="button" data-toggle="modal" >CANCELAR</button>
                    <button class="text-center btn-dark" href="#modalDetalhes{{ pedido.id }}" role="button" data-toggle="modal"
                            style="padding-top: 4px;padding-bottom: 4px;padding-right: 12px;padding-left: 12px;border-radius: 5px;">DETALHES</button>
                </td>
            </tr>
        {% endfor %}
                                <!-- IMPLEMENTAÇÃO DA MODAL COM A DESCRIÇÃO DO PEDIDO-->
        {% for pedido in lista %}

            <div id="modalDetalhes{{ pedido.id }}" class="modal hide fade">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <p><span style="float: right"> {{ pedido.data }}</span></p>
                </div>

                <div class="modal-body">
                <h1>DETALHES DO PEDIDO - No {{ pedido.id }}</h1>
                    <h3>Dados do Cliente</h3>
                        <p class="dados-pedidos-comanda">{{ pedido.cliente }}</p>
                        <p class="dados-pedidos-comanda">{{ pedido.cliente.telefone }}</p>
                        <p class="dados-pedidos-comanda">{{ pedido.cliente.endereco.logradouro }} - {{ pedido.cliente.endereco.numero }}</p>
                    <hr>
                    <h3 class="text-left">Dados da Pizza</h3>
                    {% for item in pedido.itens_pizza.all %}
                        <p class="dados-pedidos-comanda">Pizza {{ item.tamanho_pizza }}</p>
                        <p class="dados-pedidos-comanda">Sabor(es):</p>
                        {% for sabor in item.sabores.all %}
                            <p style="color: brown">-> {{ sabor.nome }}</p>
                        {% endfor %}
                        <p class="dados-pedidos-comanda">Borda: {{ item.sabor_borda.nome }}</p>
                        <p class="dados-pedidos-comanda">Quantidade: {{ item.quantidade }}</p>
{#                        <p class="valor-pedidos-comanda">Preco: {{ item.get_preco }}</p>#}
                        <hr>
                    {% endfor %}

                   <h3 class="text-left text-black-50">Dados da Bebida</h3>
                        {% for item in pedido.itens_bebida.all %}
                            <p class="dados-pedidos-comanda" >{{ item.bebida_tamanho.bebida.nome }} - {{ item.bebida_tamanho.tamanho_bebida.nome }} </p>
                            <p class="dados-pedidos-comanda" >- Qt: {{ item.quantidade }} - Preço: {{ item.get_preco }}</p>
                        {% endfor %}
                        <hr>
                    <h3>Dados do Pagamento/Observações</h3>
                            <p class="dados-pedidos-comanda">Forma de pagamento: {{ pedido.forma_de_pagamento.nome }}</p>
                            <p class="dados-pedidos-comanda" >Observações: {{ pedido.observacao }}</p>
                    <hr>
                    <h3>Dados do Entregador</h3>
                    <p class="dados-pedidos-comanda">Nome:{{ pedido.entregador }}</p>
                    <p class="dados-pedidos-comanda">Telefone:{{ pedido.entregador.telefone }}</p>
                    <hr>
                    <p style="float: right; font-size: 23px; font-weight: bold;">**TOTAL**: {{ pedido.get_total }}</p>

                    </div>


                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">FECHAR</a>
                    </div>
             </div>
  {% endfor %}
                <!-- IMPLEMENTAÇÃO DA MODAL COM A DESCRIÇÃO DO PEDIDO-->

                </table>
            </tbody>
            </div>
        </div>
        </div>

{% for pedido in lista %}
    <div id="myModal{{ pedido.id }}" class="modal hide fade">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h3>PEDIDO No {{ pedido.id }} <span style="float: right"> Data: {{ pedido.data }}</span></h3>
        </div>

        <div class="modal-body">
        <h3 class="text-lg-left">Dados do Cliente</h3>
            <p class="dados-pedidos-comanda">Cliente: {{ pedido.cliente.nome }}</p>
            <p class="dados-pedidos-comanda">Telefone: {{ pedido.cliente.telefone }}</p>
            <p class="dados-pedidos-comanda">Endereço: {{ pedido.cliente.endereco.logradouro }}, {{ pedido.cliente.endereco.numero }}</p>
            <p class="dados-pedidos-comanda">Bairro: {{ pedido.cliente.endereco.bairro }}</p>
            <hr>
        <h3 class="text-left">Dados da Pizza</h3>
            {% for item in pedido.itens_pizza.all %}
                <p class="dados-pedidos-comanda">Pizza {{ item.tamanho_pizza }}</p>
                <p class="dados-pedidos-comanda">Sabor(es):</p>
                {% for sabor in item.sabores.all %}
                    <p>-> {{ sabor.nome }}</p>
                {% endfor %}
                <p class="dados-pedidos-comanda">Borda: {{ item.sabor_borda.nome }}</p>
                <p class="dados-pedidos-comanda">Quantidade: {{ item.quantidade }}</p>
                <p class="valor-pedidos-comanda">Preco: {{ item.get_preco }}</p>
                <hr>
            {% endfor %}
            <hr>
        <h3 class="text-left text-black-50">Dados da Bebida</h3>
            {% for item in pedido.itens_bebida.all %}
                <p>{{ item.bebida_tamanho.bebida.nome }} - {{ item.bebida_tamanho.tamanho_bebida.nome }} </p>
                <p>- Qt: {{ item.quantidade }} - Preço: {{ item.get_preco }}</p>
            {% endfor %}
            <hr>
            <p>**TOTAL**: {{ pedido.get_total }}</p>
            <p>Forma de pagamento: {{ pedido.forma_de_pagamento.nome }}</p>
            <p>Observações: {{ pedido.observacao }}</p>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">IMPRIMIR</a>
            <a href="/interno/set_status_pedido/{{ pedido.id }}/2" class="btn btn-primary">CONFIRMAR</a>
        </div>
    </div>
{% endfor %}


{% for pedido in lista %}
    <div id="myModalEntregar{{ pedido.id }}" class="modal hide fade">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h3>PEDIDO No {{ pedido.id }} <span style="float: right"> {{ pedido.data }}</span></h3>
        </div>

        <div class="modal-body">
            <h3 class="text-left">Escolha o entregador</h3>
            <form action="/interno/set_status_pedido_em_entrega/{{ pedido.id }}/" method="post">
                 {% csrf_token %}
                 <select class="custom-select" name="entregador">
                    {% for entregador in entregadores %}
                        <option value="{{ entregador.id }}">{{ entregador.nome }}</option>
                    {% endfor %}

                </select>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">CANCELAR</a>
                    <input class="btn btn-primary" type="submit" value="CONFIRMAR">
                </div>
            </form>

        </div>

    </div>
{% endfor %}

{% for pedido in lista %}
    <div id="myModalCanceladas{{pedido.id}}" class="modal hide fade">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    </div>

    <div class="modal-body">
        <h3>Tem certeza que deseja cancelar o pedido n. {{ pedido.id }}?</h3>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-dark" data-dismiss="modal">NÃO</a>
        <a href="/interno/set_status_pedido/{{ pedido.id }}/5" class="btn btn-danger text-center">SIM TENHO CERTEZA</a>
    </div>
</div>

{% endfor %}

    {% endif %}

{% endblock %}