{% extends "site_interno/layout/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}


{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'web/styles/loader.css' %}" media="all">
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
<h1 align="center">Relatório de Entregas</h1>
    {% if lista %}
        <div class="container">
        <div class="row">
            <div class="span12">
            <tbody>
                <table class="table">
                     <tr>
                         <th><h3>Nome Entregador</h3></th>
                         <th><h3>Telefone</h3></th>
                         <th><h3>Endereço</h3></th>
                         <th><h3>Qtd Entregas</h3></th>
            </tr>

        {% for item in lista %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.telefone }}</td>
                <td>{{ item.endereco.logradouro}} - {{ item.endereco.numero }}</td>
                 <td>{{item.pedido.count}}</td>

            </tr>
        {% endfor %}
                </table>
            </tbody>
            </div>
        </div>
        </div>
    {% endif %}

{% endblock %}