{% extends "site_interno/layout/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}


{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'web/styles/loader.css' %}" media="all">
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
<h1>Relatório</h1>
    {% if lista %}
        <tbody>
        <table class="table">
               <tr>
                <th>Nome Ingrediente</th>
                <th>Quantidade Estoque</th>
                <th>Unidade Medida</th>
            </tr>
        {% for item in lista %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.qt_estoque }}</td>
                <td>{{ item.un_medida }}</td>
            </tr>
        {% endfor %}
        </table>
</tbody>
    {% endif %}

{% endblock %}