{% extends "site_interno/layout/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}


{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'web/styles/loader.css' %}" media="all">
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
<h1>Relatório</h1>
    {% if lista %}
        <table class="list-group-item-light">
        {% for item in lista %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.qt_estoque }}</td>
                <td>{{ item.un_medida }}</td>
            </tr>
        {% endfor %}
        </table>

    {% endif %}

{% endblock %}