{% extends "site_interno/layout/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}


{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'web/styles/loader.css' %}" media="all">
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
<h1 align="center">Sugestão de Compra de Ingredientes</h1>
    {% if lista %}
        <div class="container">
        <div class="row">
            <div class="span12">
            <tbody>
                <table class="table">
                     <tr>
                         <th><h4>Ingrediente</h4></th>
                         <th><h4>Estoque Atual</h4></th>
                         <th><h4 align="">Ref. Min</h4></th>
                         <th><h4>Ref. Max</h4></th>
                         <th><h4>Sugestão para Compra</h4></th>
            </tr>
        {% for item in lista %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.qt_estoque }} {{ item.un_medida }}</td>
                <td>{{ item.qt_minima }}</td>
                <td>{{ item.qt_maxima }}</td>
                <td>{{ item.get_qt_compra }} {{ item.un_medida }}</td>
            </tr>
        {% endfor %}
                </table>
            </tbody>
            </div>
        </div>
        </div>
{#        <tbody>#}
{#        <table class="table table-condensed">#}
{#               <tr>#}
{#                <th>Nome Ingrediente</th>#}
{#                <th>Quantidade Estoque</th>#}
{#                <th>Unidade Medida</th>#}
{#            </tr>#}
{#        {% for item in lista %}#}
{#            <tr>#}
{#                <td>{{ item.nome }}</td>#}
{#                <td>{{ item.qt_estoque }}</td>#}
{#                <td>{{ item.un_medida }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </table>#}
{#</tbody>#}
    {% endif %}

{% endblock %}